// Tipografía

$body-color: #1E293B;
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9375rem;

// Colores

$primary: #10B981;
$secondary: #1E293B;
$light: #FFFFFF;
$dark: #0F172A;

// Modal

$modal-backdrop-opacity: .8;